% extends "base.html" %}

{% block content %}

<h1>Log in to Blog!</h1>
<p>If you don't have an account, you may <a href="/signup">sign up</a> for one</p>
<form action="/login" method="post">
        <h1>Log In</h1>
            <label>
                <input name="username" type="text"/>Username</label>
                <br>
                    
            <label>
                <input name="password" type="password"/>Password</label>
                    
                <br> <br>
        <input type="submit" value="Log In!"/>
</form>
{% endblock %}